.intro
  %h1= @condition.name

%ul.roles
  - @condition.roles.each do |role|
    %a{:href => profession_role_path(role.profession_id, role)}
      = render partial: 'roles/role', :locals => { :role => role }
