%h1= @condition.name
%p= @condition.description

%h2 Roles involved
%ul.tags
  - @condition.roles.each do |role|
    %li
      = link_to role.name, profession_role_path( role, role.profession_id), :class => 'tag'

= link_to 'Back', conditions_path, :class => 'button'
