%section.title
  %h1= @job.title
  %p= @job.description

%ul.roles
  - @job.roles.each do |role|
    %a{:href => profession_role_path(role.profession_id, role)}
      = render partial: 'roles/role', :locals => { :role => role }
