%section.intro
  %h1 Caring for stroke
  %p
    Stroke arises due to interruption of blood supply to the brain leading to damage to part of the brain. Each year 150,000 people have a stroke in the UK and it causes 67,000 deaths per year.
    %br
    %br
    There is evidence that effective interprofessional teamworking can greatly improve survivial and morbidity rates.

%section.image

%section.steps
  .step
    %h3 Discovery
    %p
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. In fringilla at orci sit amet iaculis. Proin consectetur eros eget efficitur tempor.
    %ul
      %li Paramedic
  .step
    %h3 Diagnosis
    %p
      Duis sollicitudin vitae arcu eu tincidunt. Aliquam sapien elit, vestibulum vel volutpat hendrerit, facilisis nec lorem. Pellentesque finibus enim nec velit dapibus.
    %ul
      %li Doctor
      %li Nurse
      %li Radiologist
  .step
    %h3 Preperation
    %p
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. In fringilla at orci sit amet iaculis. Proin consectetur eros eget efficitur tempor.
    %ul
      %li Occupational therepist
      %li Pharmacist
  .step
    %h3 Recovery
    %p
      Duis sollicitudin vitae arcu eu tincidunt. Aliquam sapien elit, vestibulum vel volutpat hendrerit, facilisis nec lorem. Pellentesque finibus enim nec velit dapibus.
    %ul
      %li Dietician
      %li Physiotherapist
  .step
    %h3 Ongoing care
    %p
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. In fringilla at orci sit amet iaculis. Proin consectetur eros eget efficitur tempor.
    %ul
      %li Occupational therepist
      %li Doctor

%section.roles
  %ul.roles
    %a
      %li.role
        .head
          %h3 Paramedic
        .description
          %p
            Paramedics are the first health professional at an emergency. Working alone or with a team to assess a patient and give essential treatment.
    %a
      %li.role
        .head
          %h3 Medicine
        .description
          %p
            Medical specialists cover a wide range of conditions for which people are admitted to hospital. Many focus on particular organs or diseases
    %a
      %li.role
        .head
          %h3 Occupational therapist
        .description
          %p
            Occupational therapists assess physical and psychiatric conditions and use activity to prevent disability and promote independent living.
    %a
      %li.role
        .head
          %h3 Physiotherapist
        .description
          %p
            Physiotherapists treat physical problems caused by illness, accident or ageing, identifying ability and maximising movement.
    %a
      %li.role
        .head
          %h3 Speech Language Therepist
        .description
          %p
            Speech and language therapy assistants and bi-lingual co-workers work under the direction of qualified speech and language therapists...
    %a
      %li.role
        .head
          %h3 Dietician
        .description
          %p
            Dietitians assess nutrition in health and disease and enable people to make informed choices about their food.
    %a
      %li.role
        .head
          %h3 Pharmacist
        .description
          %p
            A pharmacist is an expert in medicines and their use. working to ensure that patients get the maximum benefit from their medicines...
    %a
      %li.role
        .head
          %h3 Radiologist
        .description
          %p
            Radiologists specialise in the detection of disease through the use of a variety of investigative techniques. Their work can be vital...
    %a
      %li.role
        .head
          %h3 Adult nurse
        .description
          %p
            Adult nurses are based in a hospital or in the community and work at the centre of a team that includes doctors, physiotherapists...

=render :partial => 'shared/share_links'

