%section.intro
  %h1 This is a collection
  %p This is an introduction. This is an introduction to the collection. This is an introduction to the collection. This is an introduction to the collection.

%section.image

%section.steps
  .step
    %h3 This is a step
    %p This is a little bit of info about this step.
    %ul
      %li Role involved
      %li Role involved
  .step
    %h3 This is a step
    %p This is a little bit of info about this step.
    %ul
      %li Role involved
  .step
    %h3 This is a step
    %p This is a little bit of info about this step.
    %ul
      %li Role involved
      %li Role involved
  .step
    %h3 This is a step
    %p This is a little bit of info about this step.
    %ul
      %li Role involved
  .step
    %h3 This is a step
    %p This is a little bit of info about this step.
    %ul
      %li Role involved
      %li Role involved
      %li Role involved
  .step
    %h3 This is a step
    %p This is a little bit of info about this step.
    %ul
      %li Role involved
      %li Role involved

%section.roles
  %ul.roles
    %a
      %li.role
        .head
          %h3 Role name
        .description
          %p Description about this role, description about this role.
    %a
      %li.role
        .head
          %h3 Role name
        .description
          %p Description about this role, description about this role.
    %a
      %li.role
        .head
          %h3 Role name
        .description
          %p Description about this role, description about this role.
    %a
      %li.role
        .head
          %h3 Role name
        .description
          %p Description about this role, description about this role.
