.intro
  %h1 Get in touch

  %p
    If you are interested in becoming a contributor or want to improve our information email
    =mail_to('berry.laur@gmail.com')
    or tweet
    =link_to('@Laurence_Berry', 'https://twitter.com/Laurence_Berry')
  %br
  %h2 Stay up-to-date
  %p
    %em Whocares?
    is currently in public alpha. Leave your email below, and we'll notify you when we make helpful updates. We'll never send you spam.
  %br

/ Begin MailChimp Signup Form

#mc_embed_signup
  %form#mc-embedded-subscribe-form.validate{:action => "//laurenceberry.us3.list-manage.com/subscribe/post?u=333e5aa54a7af30f80544f19b&id=3a55f8a40d", :method => "post", :name => "mc-embedded-subscribe-form", :novalidate => "", :target => "_blank"}
    #mc_embed_signup_scroll
      .mc-field-group
        %input#mce-EMAIL.required.email{:name => "EMAIL", :type => "email", :value => ""}/
        %input#mc-embedded-subscribe.button{:name => "subscribe", :type => "submit", :value => "Subscribe"}/

      #mce-responses.clear
        #mce-error-response.response{:style => "display:none"}
        #mce-success-response.response{:style => "display:none"}
      / real people should not fill this in and expect good things - do not remove this or risk form bot signups
      %div{:style => "position: absolute; left: -5000px;"}
        %input{:name => "b_333e5aa54a7af30f80544f19b_3a55f8a40d", :tabindex => "-1", :type => "text", :value => ""}/
%script{:src => "//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js", :type => "text/javascript"}
:javascript
  (function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);
/ End mc_embed_signup
