.intro
  .logo
    %h1
      Who Cares?

  %h2
    Who does what in the NHS

.pathways
  = link_to 'Explore by profession', professions_path, :class => 'button'
  = link_to 'Who does what job', tags_path, :class => 'button'
  = link_to 'Search by condition', conditions_path, :class => 'button'