.intro
  %h1.logo
    Who Cares?

%h2
  Who does what in the NHS?

= link_to 'Explore roles by profession', professions_path, :class => 'button'
= link_to 'Who does what activities', professions_path, :class => 'button'
= link_to 'Who cares for a condition', professions_path, :class => 'button'
