%h1 Listing professions

%ul
  - @professions.each do |profession|
    %li
      = link_to profession.name, profession_roles_path(profession), :class => 'button'

= link_to 'Back', root_path, :class => 'button'
