.intro
  = link_to 'Back', root_path, :class => 'return button'


  %h1 Professions

%ul.professions
  - @professions.each do |profession|
    %li
      = link_to profession.name, profession_roles_path(profession), :class => 'button'

