%h1
  Add new profession

- if @profession.errors.any?
  #error_explanation
    %h2
      = pluralize(@profession.errors.count, "error")
      prohibited
      this article from being saved:
    %ul
      - @profession.errors.full_messages.each do |msg|
        %li= msg

= render 'form'

