%section.title
  %h1= @profession.name
  %p= @profession.description

%h2 Roles
%ul
  - @profession.roles.each do |role|
    %li
      = link_to role.name, profession_role_path(@profession, role), :class => 'button'

