.intro
  = link_to 'Jobs', tags_path, :class => 'return button'
  %h1= @tag.name

%ul
  - @roles.each do |role|
    %li
      = link_to role.name, profession_role_path(role.profession_id, role), :class => 'button'
