.intro
  %h1= @profession.name
  %p= @profession.description

%ul.roles
  - @profession.roles.each do |role|
    %a{:href => profession_role_path(@profession, role)}
      %li.role
        .head
          %h3=role.name
        .description
          %p=truncate(role.description, length: 140)
        %ul.jobs
          - role.jobs.each do |job|
            %li.job
              = job.title


