.intro
  %h1= @profession.name
  %p= @profession.description

%ul.roles
  - @profession.roles.each do |role|
    %a{:href => profession_role_path(@profession, role)}
      = render partial: 'roles/role', :locals => { :role => role }


