.intro
  = link_to 'Professions', professions_path, :class => 'return button'
  %h1= @profession.name
  //%p= @profession.description

%ul
  - @profession.roles.each do |role|
    %li
      = link_to role.name, profession_role_path(@profession, role), :class => 'button'

