%section
  %h1= @role.name
  %p=data_exists?(@role.description)

  -if @role.jobs.any?
    %br
    %h2 Jobs they do
    %ul.jobs-list
      - @role.jobs.each do |job|
        %li.job-tag
          = link_to job.title, job_path(job), :class => 'tag'

=render :partial => 'shared/share_links'
