%p
  %strong Name:
  = @role.name
%p
  %strong Description:
  = @role.description

%ul.tags
  - @role.tags.each do |tag|
    %li
      = link_to tag.name, tag_path(tag), :class => 'tag'


= link_to 'Back', profession_roles_path(@profession), :class => 'button'
