.intro
  %h1
    = @role.name

.content
  %p
    = @role.description
  %p
    = tweet_button

  %ul.jobs
    - @role.jobs.each do |job|
      %li.job
        = link_to job.title, job_path(job), :class => 'tag'


