@import colours

%button,
.button, .admin-header input
  background: #fff
  color: $blue
  padding: 10px 10px 8px 10px
  margin: 0 5px
  border-radius: 3px
  border: none
  font-size: 1em
  font-family: 'frutiger_reg', arial, sans-serif
  -webkit-font-smoothing: antialiased !important

  &:hover
    background: $light_grey
    text-decoration: none

.admin-header .button
  color: $green

.tags li
  display: inline-block
.tag, .small-tag, .medium-tag, .large-tag
  @extend %button
  list-style: none
  background: lighten($blue,15%)
  color: #fff
.small-tag
  padding: 6px 6px 4px 6px
.medium-tag
  font-weight: 500
.large-tag
  padding: 14px 14px 12px 14px
  font-weight: 900
