@import colours

%button,
.button
  display: inline-block
  background: $secondary
  color: #fff
  padding: 10px 10px 8px 10px
  margin: 5px
  border-radius: 3px
  border: none
  font-size: 1em
  font-weight: 500
  font-family: 'frutiger_reg', arial, sans-serif
  -webkit-font-smoothing: antialiased !important
  min-width: 200px
  text-align: center
  -webkit-appearance: none
  &:hover
    background: $secondary
    text-decoration: none

.admin-header .button, .admin-header input
  background: lighten($green,15%)
  font-size: 1em
  z-index: 999
  min-width: 0
  &:hover
    background: lighten($green,20%)

.admin-header input
  @extend %button
  background: lighten($green,15%)
  font-size: 1em

.return, .contributor_sign_in
  position: absolute
  top: 25px
  left: 25px
  z-index: 999
  background: $b10
  color: #000 !important
  &:hover
    background: lighten($b10, 5%)

.contributor_sign_in
  right: 25px
  left: auto

.return, .about_page
  position: absolute
  top: 25px
  right: 25px
  z-index: 999
  background: $b10
  color: #000 !important
  &:hover
    background: lighten($b10, 5%)

.about_page
  left: 25px
  right: auto
