@import colours

.button, .admin-header input, .small-tag, .medium-tag, .large-tag
  background: #fff
  color: $blue
  padding: 10px 10px 8px 10px
  margin: 0 5px
  border-radius: 3px
  border: none
  font-size: 1em
  font-family: 'frutiger_reg', arial, sans-serif
  -webkit-font-smoothing: antialiased !important

  &:hover
    background: $light_grey
    text-decoration: none

.admin-header .button
  color: $green

.small-tag
  padding: 8px 8px 6px 8px
.medium-tag
  font-weight: 500
.large-tag
  padding: 11px 11px 10px 11px
  font-weight: 900
