#contact

  form
    max-width: 600px
    margin: auto
    position: relative
    input
      width: 100%
      float: left
      margin-top: 10px
      margin-left: 0
      border-radius: 3px
      border: none
      border: 1px solid $secondary
      padding: 12px
      -webkit-appearance: none
      +breakpoint(medium)
        width: 60%
        margin-left: 5px
    input.button
      width: 100%
      padding: 10px 10px 8px 10px
      min-width: 0
      background-color: $secondary
      color: $b05
      +breakpoint(medium)
        width: 35%
      &:hover
        cursor: pointer
div.mce_inline_error
  width: 60%
  float: left
  background-color: $secondary !important

