#contact

  form
    max-width: 600px
    margin: auto
    position: relative
    input
      +breakpoint(medium)
        width: 60%
        margin-left: 5px
    input.button
      width: 100%
      padding: 10px 10px 8px 10px
      min-width: 0
      background-color: $secondary
      color: $b05
      float: none
      +breakpoint(medium)
        width: 35%
      &:hover
        cursor: pointer
div.mce_inline_error
  width: 60%
  float: left
  background-color: $secondary !important

