#contact
  background-color: $primary
  form
    max-width: 500px
    margin: auto
    position: relative
    input
      width: 60%
      float: left
      padding: 14px
      margin-top: 10px
      border-radius: 3px
      border: none
      -webkit-appearance: none
      +breakpoint(medium)
        padding: 16px
    input.button
      width: 35%
      padding: 10px 10px 8px 10px
      min-width: 0
      &:hover
        cursor: pointer
div.mce_inline_error
  width: 60%
  float: left
  background-color: $secondary !important

