@font-face {
    font-family: 'frutiger_reg';
    src: font-url('frutiger_reg.eot?#iefix') format('embedded-opentype'),
         font-url('frutiger_reg.woff') format('woff'),
         font-url('frutiger_reg.ttf')  format('truetype');
}

@font-face {
    font-family: 'frutiger_light';
    src: font-url('frutiger_light.eot?#iefix') format('embedded-opentype'),
         font-url('frutiger_light.woff') format('woff'),
         font-url('frutiger_light.ttf')  format('truetype');
}

@font-face {
    font-family: 'frutiger_black_italic';
    src: font-url('FrutigerLT-BlackItalic.eot?#iefix') format('embedded-opentype'),
         font-url('FrutigerLT-BlackItalic.woff') format('woff'),
         font-url('FrutigerLT-BlackItalic.ttf')  format('truetype');
}
