@import 'colours'

.pages#index
  .main
    padding: 0
  h1
    max-width: 800px
    margin: auto
  h1, h2
    text-align: center

  #search
    max-width: 600px
    width: 100%
    margin: auto
    input
      width: 100%
      float: left
      padding: 11px
      border-radius: 3px
      border: 1px solid $b30
      -webkit-appearance: none
      +breakpoint(medium)
        width: 65%
    input.button
      width: 100%
      border: none
      color: #fff
      background-color: $secondary
      padding: 10px 10px 8px 10px
      margin: 5px 0 0 -0px
      +breakpoint(medium)
        width: 25%
        margin: 0 5px 0 5px

  section
    width: 100%
    padding: 75px 25px
    text-align: center
    .button
      background-color: $b05
      color: #000

  .intro
    background-color: $b05


  .search
    background-color: darken($secondary, 2%)
    padding: 15px 25px 50px 25px
    display: inline-block

    input.button
      background-color: $b05 !important
      color: darken($secondary, 15%) !important

  .professions
    background-color: $secondary
    .button
      color: darken($secondary, 15%)

  .conditions
    background-color: $primary

  .jobs
    background-color: darken($secondary, 2%)
    .button
      color: darken($secondary, 15%)

  .contribute
    background-color: $primary
    .button
      color: darken($primary, 15%)


  .cta
    background-color: $green
    padding: 50px 25px
