@import 'colours'

.pages#index
  .main
    padding: 0
  h1
    max-width: 800px
    margin: auto

  #search
    width: 100%
    max-width: 600px
    margin: auto
    input
      width: 100%
      float: left
      padding: 9px
      border-radius: 3px
      border: 1px solid $b30
      -webkit-appearance: none
      +breakpoint(medium)
        width: 65%

    input.button
      width: 100%
      border: none
      color: #fff
      background-color: $secondary
      padding: 10px 10px 8px 10px
      margin: 5px 0 0 -0px
      +breakpoint(medium)
        width: 25%
        margin: 0 5px 0 5px

  section
    h1, h2, p
      text-align: center
    p
      margin-bottom: 20px
    .button:hover
      background-color: #fff
  section:nth-child(odd)
    background-color: $secondary

  section:first-child
    background-color: $b05

  section.intro, section.about
    background-color: $b05

  section.search
    padding: 15px 25px 50px 25px
    display: inline-block
    input.button
      background-color: $b05 !important
      color: darken($secondary, 15%) !important

  section.professions
    background-color: darken($secondary, 5%)

  section.contribute
    background-color: $primary
    .button
      color: darken($primary, 15%)
