@import colours

body
  margin: 0
  div
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    box-sizing: border-box

.main
  padding: 50px 0

#search_results, #index, .jobs#show, .professions#show
  .main
    padding: 50px 25px

section
  width: 100%
  padding: 75px 25px
  text-align: center
  .button
    background-color: $b05
    color: darken($secondary, 15%)
  h1, h2, p
    text-align: center
  p
    margin-bottom: 20px

section.title
  padding: 25px

section.about
  padding: 1px 25px 25px 25px

ul
  padding: 0
  list-style: none
  li
    float: left

.inner-container
  max-width: 650px
  margin: 25px auto

li.job-tag
  // JOBS HIDDEN FOR NOW
  display: none !important
  padding: 4px 5px 0px 5px
  border-radius: 4px
  margin: 5px 5px 15px 5px
  border: 1px solid #DAE3E5
  background-color: #F4F7F7
  float: none
  display: inline-block

.description
  .job-tag
    float: left



#search
  width: 100%
  max-width: 600px
  margin: auto
  input
    width: 100%
    float: left
    padding: 9px
    border-radius: 3px
    border: 1px solid $b30
    -webkit-appearance: none
    +breakpoint(medium)
      width: 65%

  input.button
    width: 100%
    border: none
    color: #fff
    background-color: $secondary
    padding: 10px 10px 8px 10px
    margin: 5px 0 0 -0px
    +breakpoint(medium)
      width: 25%
      margin: 0 5px 0 5px
