@import colours

body
  margin: 0
  background-color: $white

  div, header
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    box-sizing: border-box

.main
  padding: 50px 25px

ul
  padding: 0
  list-style: none
  li
    float: left

.intro
  h2, h1
    color: #000

.content
  max-width: 650px
  margin: 25px auto
  a, p
    color: $black
    font-size: 1em
    font-weight: 600
  a
    text-decoration: underline
