@import colours

body
  margin: 0
  div
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    box-sizing: border-box

.main
  padding: 50px 0



section
  width: 100%
  padding: 75px 25px
  text-align: center
  .button
    background-color: $b05
    color: darken($secondary, 15%)
  h1, h2, p
    text-align: center
  p
    margin-bottom: 20px

section.about
  padding: 1px 25px 25px 25px

ul
  padding: 0
  list-style: none
  li
    float: left

.inner-container
  max-width: 650px
  margin: 25px auto

li.job-tag
  padding: 4px 5px 0px 5px
  border-radius: 4px
  margin: 5px 5px 15px 5px
  border: 1px solid #DAE3E5
  background-color: #F4F7F7
  a
    text-decoration: none
