@import 'colours'
body
  -webkit-font-smoothing: antialiased !important
  font-family: 'frutiger_reg', arial, sans-serif
  font-size: 16px

h1
  font-size: 1.8em
  margin: 0 0 25px 0
  font-family: 'frutiger_reg', arial, sans-serif

h2
  font-size: 1.8em
p, a
  font-size: 1em
  text-align: center
a
  &:link
    text-decoration: none
    color: $b90
  &:visited
    color: $b90


a.twitter-share-button
  color: #000
