@import 'colours'
body
  -webkit-font-smoothing: antialiased !important
  font-family: 'frutiger_reg'
  color: #fff
h1
  font-size: 1.8em
  margin: 13px 0
  font-family: 'frutiger_reg'

p, a
  font-size: 1.15em
  line-height: 1.2em

a
  &:link
    text-decoration: none
    color: $blue

  &:visited
    color: $blue

  &:hover
    background: none
    color: $blue
    text-decoration: underline
